<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create an Account</title>
  </head>
  <body>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>
  </form>

    <hr>

    <p>Already have an account? <a href="/signin">Sign in.</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </body>
</html>
